/* GLOBAL */

body
{
	overflow-x:hidden;
	font-family: 'Lobster Two', cursive;
}

.img-header
{
	position:fixed;
	left:0px;
	top:0px;
	min-height:100%;
	min-width:100%;
	z-index:-2;
}

.main-title
{
	color:#FFFFFF;
	padding-top:20px;
}

.version-main
{
	position:absolute;
	top:5px;
	right:10px;
	color:#FFFFFF;
}

.relative
{
	position:relative;
}

.background-main
{
	position:absolute;
	top:0px;
	bottom:0px;
	opacity:0;
	background-color:#191007;
	width:100%;
	height:100%;
	z-index:-1;
}

.sub-footer
{
	height:50px;
	border-top:solid #B45F04 3px;
	text-align:center;
	padding-top:10px;
	color:grey;
	background-color:#353A40;
}

.footer
{
	border-top:solid #353A40 3px;
	min-height:200px;
	background-color:#000000;
}

.img-paralax-fixed
{
	background-color:#343a40;
	z-index:-2;
	margin-top:50px;
	padding-bottom:50px;
}

.citation-div
{
	text-align:center;
	margin-top:50px;
	font-weight:bold;
	padding-top:10px;
	position:relative;
}

.citation
{
	font-size:25px;
	position:relative;
	color:#FFFFFF;
}

.register-div
{
	min-height:450px;
	margin-top:50px;
	position:relative;
	padding:30px;
}

.main-div-accueil
{
	min-height:450px;
	position:relative;
	margin-top:50px;
	padding:30px;
}

.align-center
{
	text-align:center;
	padding-top:10px;
}

.align-center p
{
	color:#FFFFFF;
}

.back-black
{
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	background-color:#000000;
	opacity:0.5;
	z-index:0;
}

.text-black
{
	position:relative;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	z-index:1;
	padding:20px;
}

.text-black p
{
	font-size:21px;
}

.main-div-accueil p
{
	color:#000000;
	color:#FFFFFF;
	z-index:2;
	opacity:1;
}

.main-div-accueil img
{
	position:absolute;
	top:100px;
	left:0px;
	width:100%;
	height:100%;
}

.devlogs-title-div
{
	text-align:center;
	height:50px;
	margin-top:50px;
}

.devlogs-title
{
	color:#FFFFFF;
	font-size:30px;
}

.devlogs
{
	font-family: 'Courier';
	color:#FFFFFF;
}

.devlogs-div-accueil
{
	background-color:#000000;
	border:solid #FFFFFF 1px;
	overflow-y:scroll;
	height:200px; 
	margin-top:20px;
	padding:20px 50px 20px 50px;
}

.support
{
	text-align:left;
	padding-left:50px;
	padding-top:50px;
}

.follow-us
{
	padding-right:50px;
	padding-top:50px;
	text-align:right;
}

.logo
{
	height:50px;
	width:50px;
	border:solid #FFFFFF 1px;
	display:inline-block;
	margin:10px;
}

/* END GLOBAL */

/* ACCOUNT */

.empty-div
{
	height:50px;
}

.infouser
{
	position:relative;
	margin-top:50px;
	min-height:200px;
	color:#FFFFFF;
}

.usernamediv
{
	padding-left:30px;
	padding-top:30px;
	padding-bottom:20px;
	position:relative;
}

.usernamediv .avatar
{
	height:100px;
	width:100px;
	border:solid #FFFFFF 1px;
}

.usernamefont
{
	font-size:50px;
	position:absolute;
	top:10px;
	left:150px;
	color:#B45F04;
}

.stats-div
{
	padding-left:30px;
	padding-top:30px;
	position:relative;
}

.lvl-barre
{
	position:absolute;
	top:150px;
	height:20px;
	right:30px;
	left:30px;
	border:solid #FFFFFF 1px;
	text-align:center;
}

.lvl-barre-progress
{
	position:absolute;
	background-color:#04B45F;
	height:100%;
	left:0px;
	top:0px;
	z-index:0;
}

.rankfont
{
	font-size:20px;
	position:absolute;
	top:108px;
	left:150px;
}

.titlefont
{
	font-size:20px;
	position:absolute;
	top:80px;
	left:150px;
}

.exp-text
{
	z-index:3;
	position:relative;
	margin-top:-8px;
	font-size:20px;
	color:#FFFFFF;
}

.pre-party-div
{
	height:50px;
	background-color:#343a40;
	margin-top:50px;
	text-align:center;
}

.pre-party-div p
{
	font-size:30px;
	color:#FFFFFF;
}

.party-div
{
	border:solid #343a40 2px;
	min-height:300px;
	max-height:500px;
	background-color:#000000;
	overflow-y:scroll;
}

.new-game-div
{
	margin-top:10px;
	margin-right:10px;
	border:dashed #FFFFFF 1px;
	height:75px;
	position:relative;
}

.new-square
{
	position:absolute;
	top:10px;
	left:0px;
	width:55px;
	height:55px;
	border:solid #FFFFFF 1px;
	text-align:center;
	padding:5px;
	cursor:pointer;
}

.new-square p
{
	font-weight:bold;
	color:#FFFFFF;
	font-size:20px;
	margin-top:7px;
}